body{
    font-family: "Segoe UI", Arial, sans-serif !important;
}

.mainContainer{
    width: 94%;
    margin: 5% 0 0 2%;
}


.inputElementsContainer{
    width: 80%;
    display: inline-block;
    background-color:#d8dcd5;
    padding: 3%;
    border:1px solid #d8dcd5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: -webkit-linear-gradient(#FFF, #d8dcd5);
    background: -moz-linear-gradient(#FFF, #d8dcd5);
    background: -o-linear-gradient(#FFF, #d8dcd5);
    background: linear-gradient(#FFF, #d8dcd5); /* For Safari */ /* For Opera  */ /* For Firefox  */ /* Standard syntax */
    border: 1px solid #ceaaaa;
}
.labelTags1{
        display: inline-block;
        width:calc(100%/4 - 10px); 

}
.labelTags2{
        display: inline-block;
        width:calc(100%/4 - 10px); 

}
.divInputClass{
    display: inline-block;
    width:calc(100%/4 - 10px); 
}
.selectClass{
    padding: 7px;
    background-color:#FFF;
}
.makeClass{
    padding: 7px;
    background-color:#FFF;
    border-radius: 5px;
}
.modelClass{    
    padding: 7px;
    background-color:#FFF;
    border-radius: 5px;
}
.addButton{
    font-weight: bold;
    cursor: pointer;
    padding: 6px 17px;
    background-color: #544f4f;
    color:#FFF;
    border: 1px solid;
    border-radius: 10px; 
    background: -webkit-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Safari */
    background: -o-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Opera  */
    background: -moz-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Firefox  */
    background: linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* Standard syntax */;
}
.resultSetContainer{
    width:91%;
    text-align: center;
    padding:5%;
    background-color:#e7e7f3;
}
.resultRows{
    display: inline-block;
    width:calc(100%/3);
}


.searchBox{
    width: 40%;
    float: right;
    margin-right: 7%;
}

.searchIBoxClass{
    padding:6px;
    width:50%;
}
.searchBoxIcon{
    color:#333;
    padding: 6px 17px;
}

.selected{
    background-color: palegreen;
}   

.classA{
  display: table;         
  width: 86%;         
}
.classB{
  height: auto;
  display: table-row;
  width: 100%;
  clear: both;
  border-left: 1px solid #ceaaaa;
  border-right: 1px solid #ceaaaa;
  border-collapse: collapse;
}
.classC{
  height: 50px;
  line-height: 50px;
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: calc(100%/3 - 5px);         
  text-align: center;
  border: 1px solid #ceaaaa;
  border-collapse: collapse;
  
}

.toJsonConverterClass{
    font-weight: bold;
    float: right;
    margin-top: 7%;
    margin-right: 20%;
    border: 1px solid;
    border-radius: 10px; 
    background-color: #544f4f;
    color:#FFF;
    padding: 6px 17px;
    background: -webkit-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Safari */
    background: -o-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Opera  */
    background: -moz-linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* For Firefox  */
    background: linear-gradient(rgba(204, 197, 187, 0.86),#544f4f); /* Standard syntax */
}

.jsonDivContainer{
    padding:4%;
    font-size: 0.9rem;
    margin-top: 7%;
    background-color: #ceaaaa;
    width: 50%;
    min-height: 100px;
}

